<div>
    <label for="">Poisonous</label>
    <input type="checkbox" ng-model="pois">
    
    <!-- <label for="non-pois">Non-Poisonous</label>
    <input type="radio" id="non-pois" name="pois" ng-model="pois"> -->

    {{pois}}

    <label for="search">Search:</label>
    <input type="text" id="search" ng-model="searchTerm">
    
    <ul ng-repeat="mushroom in mushroomList | filter: searchTerm">
        <!-- <li > -->
            <li ng-show="mushroom.edible === pois">
                <!-- Capitalie first letter of mushroom name -->
                <h3>{{mushroom.name.charAt(0).toUpperCase() + mushroom.name.slice(1)}}</h3>
                <p>{{mushroom.description}}</p>
            </li>
    </ul>
</div>